/* #new{
    height: 300px;
    width: 300px;
    background-color:rgb(30, 1, 1);
    border-radius: 50%;

}

div{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    opacity: 1;
    transition: 1s;
}

div:hover{
    background-color: black;
    border-radius: 50%;
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 10px;
    transition:margin-top 2s ease-in-out 0.2s ;
} 

div:hover{

    margin-top: 400px;
    background-color: blue;
    border-radius: 50%;
} */

/* div:nth-of-type(2n){
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    margin-bottom: 20px;

}

div:nth-of-type(2n+1){
    height: 50px;
    width: 200px;
    background-color: rgb(26, 143, 239);
    margin-bottom: 50px;
    

}
#div1{
    transform: rotate(45deg);
}
#div2{
    transform: scale(0.5);
}

#div3{
    transform: translate(50px,50px);

}

#div4{
    transform: skew(45deg);
}

#div5{
    transform:rotate(30deg) translateY(20px) ;
} */
/* div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: chartreuse;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(213, 250, 4);
} */

/* div{
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    margin: 10px auto;
    background-image:url("pexels.jpg") ;
   
    background-size: cover;
} */
/* .card{
    width:200px ;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 1s;
}

.desc{
    padding: 0 2px 0 2px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 4px 8px 16px black;
} */
/* div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    position: static;
} */
.fixed{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: solid black;

}
#eye1{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius:50% ;
    display: inline-block;
    position:absolute ;
    top: 100px;
    left:100px
    
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius:0 0 50px 50px;
    position:absolute;
    top: 250px;
    left: 100px;
}

#eye2{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius:50% ;
    display: inline-block;
    position:absolute ;
    top: 100px;
    left:250px
    
}

#nose{
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: brown;
    position: absolute;
    top: 175px;
    left: 180px;
}