#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
   /* / justify-content: space-evenly; */
    flex-wrap: wrap;
    align-items: baseline;
   
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.green{
    flex-grow: 1;
}
