/* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.inner{
    height: 50px;
    width:50px;
    border: 2px solid black;
    margin: 10px;
    border-radius:50% ;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
} */
/* div{
    height: 200px;
    width:200px;
    background-color: blueviolet;
    border: 2px solid black;
    margin: 5px ;
    display: inline-block;
}

button{
    font-size: 50px;
    border: 5px solid green;
    border-radius: 15px;
    padding: 20px;

} */
/* section{
    font-size: 2em;
    display:block;
} */
#box{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}

.same{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
li{
    
    display: inline;
   
}